fullPlate/wwwroot/dist/bundle.js
fullPlate/wwwroot/dist/bundle.js.map
fullPlate/node_modules/
fullPlate/[Dd]ebug/
fullPlate/[Dd]ebugPublic/
fullPlate/[Rr]elease/
fullPlate/[Rr]eleases/
fullPlate/x64/
fullPlate/x86/
fullPlate/bld/
fullPlate/bin/
fullPlate/Bin/
fullPlate/obj/
fullPlate/Obj/
.idea
.vs
fullPlate/j-team.csproj.user
