.field-holder.validation-error:after, .page-frame:after, .notification:after, .restaurant-and-payment-info:after, .restaurants-info-edit-fields:after, .course-form:after, .course-form .course-option-wrapper:after, .table-information:after, .additional-order-form:after, .sitemap-legend:after {
  content: '';
  display: table;
  clear: both; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.sr-only, .field-toggle input, .field-accept input, .field-checkbox input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .focusable.sr-only:active,
  .field-toggle input.focusable:active,
  .field-accept input.focusable:active,
  .field-checkbox input.focusable:active,
  .focusable.sr-only:focus, .field-toggle input.focusable:focus, .field-accept input.focusable:focus, .field-checkbox input.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.btn-primary .icon-pencil::before, .btn-primary-full .icon-pencil::before, .btn-primary .icon-minus::before, .btn-primary-full .icon-minus::before, .btn-primary .icon-plus::before, .btn-primary-full .icon-plus::before, .btn-primary:hover .icon-pencil::before, .btn-primary-full:hover .icon-pencil::before, .btn-primary:hover .icon-minus::before, .btn-primary-full:hover .icon-minus::before, .btn-primary:hover .icon-plus::before, .btn-primary-full:hover .icon-plus::before, .btn-secondary .icon-minus::before, .btn-secondary-full .icon-minus::before, .btn-secondary:hover .icon-minus::before, .btn-secondary-full:hover .icon-minus::before, .btn-alternative-small .icon-print::before, .btn-alternative-small:hover .icon-print::before, .icon-green-plus:before, .icon-red-plus:before, .icon-white-plus:before, .icon-white-tick:before, .icon-dash-red:before, .icon-dash-white:before, .icon-dropdown-dark:before, .icon-filter-arrow-table:before, .icon-filter-arrow-select:before, .icon-notification-cross:before, .icon-notification-exclamation:before, .icon-notification-tick:before, .field-select:after, .field-toggle input:checked ~ .indicator::before, .field-toggle .indicator::before, .field-toggle:hover .indicator::before, .field-toggle.is-danger input:checked ~ .indicator::before, .field-toggle.is-danger .indicator::before, .field-toggle.is-danger:hover .indicator::before, .field-accept input:checked ~ .indicator::after, .field-checkbox input:checked ~ .indicator::before, .modal-close:after {
  display: inline-block;
  background-image: url("images/sprite.svg");
  background-size: 188px 126px;
  background-repeat: no-repeat; }

.ie8 .btn-primary .icon-pencil::before, .ie8 .btn-primary-full .icon-pencil::before, .ie8 .btn-primary .icon-minus::before, .ie8 .btn-primary-full .icon-minus::before, .ie8 .btn-primary .icon-plus::before, .ie8 .btn-primary-full .icon-plus::before, .ie8 .btn-primary:hover .icon-pencil::before, .ie8 .btn-primary-full:hover .icon-pencil::before, .ie8 .btn-primary:hover .icon-minus::before, .ie8 .btn-primary-full:hover .icon-minus::before, .ie8 .btn-primary:hover .icon-plus::before, .ie8 .btn-primary-full:hover .icon-plus::before, .ie8 .btn-secondary .icon-minus::before, .ie8 .btn-secondary-full .icon-minus::before, .ie8 .btn-secondary:hover .icon-minus::before, .ie8 .btn-secondary-full:hover .icon-minus::before, .ie8 .btn-alternative-small .icon-print::before, .ie8 .btn-alternative-small:hover .icon-print::before, .ie8 .icon-green-plus:before, .ie8 .icon-red-plus:before, .ie8 .icon-white-plus:before, .ie8 .icon-white-tick:before, .ie8 .icon-dash-red:before, .ie8 .icon-dash-white:before, .ie8 .icon-dropdown-dark:before, .ie8 .icon-filter-arrow-table:before, .ie8 .icon-filter-arrow-select:before, .ie8 .icon-notification-cross:before, .ie8 .icon-notification-exclamation:before, .ie8 .icon-notification-tick:before, .ie8 .field-select:after, .ie8 .field-toggle input:checked ~ .indicator::before, .ie8 .field-toggle .indicator::before, .ie8 .field-toggle:hover .indicator::before, .ie8 .field-toggle.is-danger input:checked ~ .indicator::before, .ie8 .field-toggle.is-danger .indicator::before, .ie8 .field-toggle.is-danger:hover .indicator::before, .ie8 .field-accept input:checked ~ .indicator::after, .ie8 .field-checkbox input:checked ~ .indicator::before, .ie8 .modal-close:after {
  background-image: url("images/sprite.png"); }

.table-primary {
  border-collapse: collapse;
  box-sizing: border-box;
  margin-top: 20px;
  table-layout: fixed;
  width: 100%; }
  .table-primary thead tr {
    border-bottom: 1px solid #B3B3B3;
    border-top: 1px solid #B3B3B3; }
  .table-primary thead th {
    box-sizing: border-box;
    color: #000000;
    font-family: "Hind", sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase; }
    .table-primary thead th:first-child {
      padding-left: 0;
      text-align: left; }
    .table-primary thead th:last-child {
      padding-right: 0;
      text-align: right; }
    .table-primary thead th sup {
      font-size: 8px; }
    .table-primary thead th .icon-filter-arrow-table {
      margin: 0 10px 0 0; }
  .table-primary tbody tr {
    border-bottom: 1px solid #B3B3B3; }
    .table-primary tbody tr td {
      box-sizing: border-box;
      color: #4D4D4D;
      font-size: 14px;
      padding: 12px 15px;
      position: relative;
      text-align: center; }
      .table-primary tbody tr td:first-child {
        padding-left: 0;
        text-align: left; }
      .table-primary tbody tr td:last-child {
        padding-right: 0;
        text-align: right; }
      .table-primary tbody tr td:not(:first-child)::before {
        border-left: 1px solid #999999;
        border-right: 1px solid #999999;
        content: '';
        display: block;
        height: 8px;
        left: 0;
        margin: -4px 0 0 -2px;
        position: absolute;
        top: 50%;
        width: 2px; }
      .table-primary tbody tr td strong {
        color: #000000;
        font-size: 16px; }
  .table-primary tfoot td {
    color: #4D4D4D;
    font-size: 16px;
    padding-top: 30px;
    text-align: right; }
    .table-primary tfoot td strong {
      color: #000000;
      font-size: 18px; }

[disabled] {
  cursor: not-allowed; }

textarea {
  color: #666666; }

input {
  height: 34px;
  border: 1px solid #acacac;
  border-radius: 0;
  background-color: #f2f2f2;
  color: #666666; }

.btn-big, .btn-primary, .btn-primary-full, .btn-secondary, .btn-secondary-full, .btn-alternative, .btn-small, .btn-primary-small, .btn-secondary-small, .btn-alternative-small, .btn-link {
  background: none;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px; }
  .btn-big:hover, .btn-primary:hover, .btn-primary-full:hover, .btn-secondary:hover, .btn-secondary-full:hover, .btn-alternative:hover, .btn-small:hover, .btn-primary-small:hover, .btn-secondary-small:hover, .btn-alternative-small:hover, .btn-link:hover {
    cursor: pointer; }
  .btn-big:focus, .btn-primary:focus, .btn-primary-full:focus, .btn-secondary:focus, .btn-secondary-full:focus, .btn-alternative:focus, .btn-small:focus, .btn-primary-small:focus, .btn-secondary-small:focus, .btn-alternative-small:focus, .btn-link:focus {
    outline: 0; }

.btn-big, .btn-primary, .btn-primary-full, .btn-secondary, .btn-secondary-full, .btn-alternative {
  min-width: 37px;
  min-height: 37px; }
  .btn-big.hover, .hover.btn-primary, .hover.btn-primary-full, .hover.btn-secondary, .hover.btn-secondary-full, .hover.btn-alternative, .btn-big:hover, .btn-primary:hover, .btn-primary-full:hover, .btn-secondary:hover, .btn-secondary-full:hover, .btn-alternative:hover {
    background: #B3B3B3; }
  .btn-big.down, .down.btn-primary, .down.btn-primary-full, .down.btn-secondary, .down.btn-secondary-full, .down.btn-alternative, .btn-big:active, .btn-primary:active, .btn-primary-full:active, .btn-secondary:active, .btn-secondary-full:active, .btn-alternative:active {
    background: #999999; }

.btn-small, .btn-primary-small, .btn-secondary-small, .btn-alternative-small {
  min-width: 24px;
  min-height: 24px; }
  .btn-small.hover, .hover.btn-primary-small, .hover.btn-secondary-small, .hover.btn-alternative-small, .btn-small:hover, .btn-primary-small:hover, .btn-secondary-small:hover, .btn-alternative-small:hover {
    background: #4D4D4D; }
  .btn-small.down, .down.btn-primary-small, .down.btn-secondary-small, .down.btn-alternative-small, .btn-small:active, .btn-primary-small:active, .btn-secondary-small:active, .btn-alternative-small:active {
    background: #4D4D4D; }

.btn-primary, .btn-primary-full {
  border-color: #39B54A;
  color: #39B54A; }
  .btn-primary.hover, .hover.btn-primary-full, .btn-primary:hover, .btn-primary-full:hover {
    background-color: #3BCF4C;
    border-color: #3BCF4C;
    color: #ffffff; }
  .btn-primary.down, .down.btn-primary-full, .btn-primary:active, .btn-primary-full:active {
    background-color: #3BCF4C;
    color: #ffffff; }

.btn-primary, .btn-primary-full {
  border-color: #39B54A;
  color: #39B54A; }
  .btn-primary.hover, .hover.btn-primary-full, .btn-primary:hover, .btn-primary-full:hover {
    background-color: #39B54A;
    border-color: #39B54A;
    color: #ffffff; }
  .btn-primary.down, .down.btn-primary-full, .btn-primary:active, .btn-primary-full:active {
    background-color: #39B54A;
    color: #ffffff; }
  .btn-primary .icon-pencil::before, .btn-primary-full .icon-pencil::before {
    content: '';
    width: 14px;
    height: 14px;
    background-position: -126px -71px; }
  .btn-primary .icon-minus::before, .btn-primary-full .icon-minus::before {
    content: '';
    width: 16px;
    height: 16px;
    background-position: -46px -71px; }
  .btn-primary .icon-plus::before, .btn-primary-full .icon-plus::before {
    width: 16px;
    height: 16px;
    background-position: -110px -71px;
    content: '';
    left: 0;
    position: relative;
    top: 2px; }
  .btn-primary:hover .icon-pencil::before, .btn-primary-full:hover .icon-pencil::before {
    width: 14px;
    height: 14px;
    background-position: -140px -71px; }
  .btn-primary:hover .icon-minus::before, .btn-primary-full:hover .icon-minus::before {
    width: 16px;
    height: 16px;
    background-position: -78px -71px; }
  .btn-primary:hover .icon-plus::before, .btn-primary-full:hover .icon-plus::before {
    width: 16px;
    height: 16px;
    background-position: -30px -71px; }

.btn-primary-full {
  background: #39B54A;
  color: #ffffff;
  padding: 0;
  line-height: 34px; }

.btn-primary-small {
  border-color: #39B54A;
  color: #39B54A; }
  .btn-primary-small.hover, .btn-primary-small:hover {
    background-color: #39B54A;
    border-color: #39B54A;
    color: #ffffff; }
  .btn-primary-small.down, .btn-primary-small:active {
    background-color: #39B54A;
    color: #ffffff; }

.btn-secondary, .btn-secondary-full {
  border-color: #ed1e79;
  color: #ed1e79; }
  .btn-secondary.hover, .hover.btn-secondary-full, .btn-secondary:hover, .btn-secondary-full:hover {
    background-color: #CF1B69;
    border-color: #CF1B69;
    color: #ffffff; }
  .btn-secondary.down, .down.btn-secondary-full, .btn-secondary:active, .btn-secondary-full:active {
    background-color: #B51B5C;
    border-color: #B51B5C;
    color: #ffffff; }
  .btn-secondary .icon-minus::before, .btn-secondary-full .icon-minus::before {
    content: '';
    width: 16px;
    height: 16px;
    background-position: -62px -71px; }
  .btn-secondary:hover .icon-minus::before, .btn-secondary-full:hover .icon-minus::before {
    width: 16px;
    height: 16px;
    background-position: -78px -71px; }

.btn-secondary-full {
  background: #ed1e79;
  color: #ffffff; }

.btn-secondary-small {
  color: #ed1e79;
  border-color: #ed1e79; }
  .btn-secondary-small.hover, .btn-secondary-small:hover {
    background-color: #CF1B69;
    border-color: #CF1B69;
    color: #ffffff; }
  .btn-secondary-small.down, .btn-secondary-small:active {
    background-color: #B51B5C;
    border-color: #B51B5C;
    color: #ffffff; }
  .btn-secondary-small.balance {
    color: #ffffff;
    border-color: #ffffff; }
    .btn-secondary-small.balance:hover {
      background-color: #222222; }
    .btn-secondary-small.balance:active {
      background-color: #0E0E0E; }

.btn-alternative {
  border-color: #29abe2;
  color: #29abe2; }
  .btn-alternative.hover, .btn-alternative:hover {
    background-color: #299ACF;
    border-color: #299ACF;
    color: #ffffff; }
  .btn-alternative.down, .btn-alternative:active {
    background-color: #2982B5;
    border-color: #2982B5;
    color: #ffffff; }

.btn-alternative-small {
  border-color: #29abe2;
  color: #29abe2; }
  .btn-alternative-small.hover, .btn-alternative-small:hover {
    background-color: #299ACF;
    border-color: #299ACF;
    color: #ffffff; }
  .btn-alternative-small.down, .btn-alternative-small:active {
    background-color: #2982B5;
    border-color: #2982B5;
    color: #ffffff; }
  .btn-alternative-small .icon-print {
    margin-right: 5px; }
    .btn-alternative-small .icon-print::before {
      content: '';
      width: 11.1px;
      height: 10.3px;
      background-position: -30px -87px; }
  .btn-alternative-small:hover .icon-print::before {
    width: 11.1px;
    height: 10.3px;
    background-position: -41.1px -87px; }

.btn-link {
  border-color: transparent;
  color: #29abe2;
  min-height: 37px;
  min-width: 37px; }

.table-information .btn-alternative-small {
  float: left;
  font-size: 13px;
  line-height: 24px;
  margin: 3px 10px 7px 0;
  padding: 4px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Hind", sans-serif; }
  .table-information .btn-alternative-small .fa-print {
    font-size: 12px;
    vertical-align: middle;
    padding-right: 7px;
    margin-top: -2px; }

.icon-green-plus:before {
  content: '';
  width: 16px;
  height: 16px;
  background-position: -110px -71px; }

.icon-red-plus:before {
  content: '';
  width: 16px;
  height: 16px;
  background-position: -94px -71px; }

.icon-white-plus:before {
  content: '';
  width: 16px;
  height: 16px;
  background-position: -30px -71px; }

.icon-white-tick:before {
  content: '';
  width: 16px;
  height: 10px;
  background-position: -71px -52px; }

.icon-white-tick:before {
  content: '';
  width: 16px;
  height: 10px;
  background-position: -71px -52px; }

.icon-dash-red:before {
  content: '';
  width: 17px;
  height: 1px;
  background-position: -72px -48px; }

.icon-dash-white:before {
  content: '';
  width: 17px;
  height: 1px;
  background-position: -89px -48px; }

.icon-dropdown-dark:before {
  content: '';
  width: 13px;
  height: 7px;
  background-position: -99px -49px; }

.icon-filter-arrow-table:before {
  content: '';
  width: 10px;
  height: 8px;
  background-position: -54px -62px; }

.icon-filter-arrow-select:before {
  content: '';
  width: 13px;
  height: 10px;
  background-position: -154px -71px; }

.icon-notification-cross:before {
  content: '';
  width: 28px;
  height: 28px;
  background-position: 0px -98px; }

.icon-notification-exclamation:before {
  content: '';
  width: 30px;
  height: 27px;
  background-position: 0px -71px; }

.icon-notification-tick:before {
  content: '';
  width: 32px;
  height: 23px;
  background-position: 0px -48px; }

.field-holder {
  position: relative; }

.validation {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #ed1e79;
  white-space: nowrap; }

.field-holder.validation-error {
  font-family: "Hind", sans-serif;
  position: relative;
  float: left;
  clear: left; }
  .field-holder.validation-error input, .field-holder.validation-error textarea {
    border-color: #ed1e79;
    color: #ed1e79; }

.validation {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap; }

.field-holder.validation-error {
  font-family: "Hind", sans-serif;
  position: relative; }
  .field-holder.validation-error input, .field-holder.validation-error textarea {
    border-color: #ed1e79;
    color: #ed1e79; }

.field-invalid {
  border-color: #ed1e79;
  color: #ed1e79; }
  .field-invalid:not(input) {
    display: block;
    margin-top: 5px; }

.validation {
  display: none;
  position: absolute;
  color: yellow;
  right: 0;
  top: 100%;
  font-size: 12px;
  font-weight: 500; }

.field-holder.validation-error input {
  border-color: #ed1e79;
  color: #ed1e79; }

.field-holder.validation-error .validation {
  display: block; }

.field-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #f5f5f5;
  background-size: 13px 13px;
  border: 1px solid #acacac;
  border-radius: 0;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  padding: 0 10px;
  position: relative;
  width: 100%; }
  .field-select:after {
    width: 13px;
    height: 10px;
    background-position: -154px -71px;
    bottom: 0;
    content: '';
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0; }
  .field-select::-ms-expand {
    display: none; }
  .field-select:focus {
    border-color: #4D4D4D;
    outline: 0; }

.field-toggle {
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 36px; }
  .field-toggle input:checked ~ .indicator {
    background-color: #39B54A; }
    .field-toggle input:checked ~ .indicator::before {
      width: 18px;
      height: 14px;
      background-position: -54px -48px; }
  .field-toggle .indicator {
    background-color: #fff;
    border: 1px solid #39B54A;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .field-toggle .indicator::before {
      content: '';
      width: 16px;
      height: 16px;
      background-position: -110px -71px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: 50%;
      position: absolute;
      top: 50%; }
  .field-toggle:hover .indicator {
    background-color: #39B54A; }
    .field-toggle:hover .indicator::before {
      width: 16px;
      height: 16px;
      background-position: -30px -71px; }
  .field-toggle.is-danger input:checked ~ .indicator {
    background-color: #CF1B69; }
    .field-toggle.is-danger input:checked ~ .indicator::before {
      width: 18px;
      height: 14px;
      background-position: -54px -48px; }
  .field-toggle.is-danger .indicator {
    border-color: #CF1B69; }
    .field-toggle.is-danger .indicator::before {
      width: 16px;
      height: 16px;
      background-position: -94px -71px; }
  .field-toggle.is-danger:hover .indicator {
    background-color: #CF1B69; }
    .field-toggle.is-danger:hover .indicator::before {
      width: 16px;
      height: 16px;
      background-position: -30px -71px; }

.field-accept {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 36px;
  line-height: 38px;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .field-accept input:checked ~ .indicator {
    padding-left: 35px; }
    .field-accept input:checked ~ .indicator .indicator-true {
      color: #ffffff;
      display: block; }
    .field-accept input:checked ~ .indicator .indicator-false {
      display: none; }
    .field-accept input:checked ~ .indicator::before {
      background-color: #39B54A; }
    .field-accept input:checked ~ .indicator::after {
      content: '';
      left: 10px;
      position: absolute;
      top: 10px;
      width: 18px;
      height: 14px;
      background-position: -54px -48px; }
  .field-accept .indicator {
    display: block;
    padding: 0 10px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .field-accept .indicator .indicator-true,
    .field-accept .indicator .indicator-false {
      display: block;
      position: relative;
      text-align: center; }
    .field-accept .indicator .indicator-true {
      display: none; }
    .field-accept .indicator .indicator-false {
      color: #39B54A; }
    .field-accept .indicator::before {
      background-color: #ffffff;
      border: 1px solid #39B54A;
      border-radius: 5px;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;
      transition: background-color 0.3s linear; }
  .field-accept:hover .indicator .indicator-false,
  .field-accept:hover .indicator .indicator-true {
    color: #ffffff; }
  .field-accept:hover .indicator::before {
    background-color: #39B54A; }

.field-checkbox {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  vertical-align: middle; }
  .field-checkbox input:checked ~ .indicator::before {
    content: '';
    width: 14px;
    height: 11px;
    background-position: -72px -49px;
    position: absolute;
    right: -3px;
    top: -3px; }
  .field-checkbox .indicator {
    border: 1px solid #000000;
    display: block;
    height: 12px;
    position: relative;
    width: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.modal-on body {
  overflow: hidden; }

.modal-on .modal {
  overflow-x: hidden;
  overflow-y: auto; }

@media screen and (max-width: 1024px) {
  .modal-on {
    overflow: hidden; }
    .modal-on body {
      left: 0;
      position: fixed;
      top: 0; } }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500; }

.modal-content {
  margin: 100px auto 0;
  max-width: 600px;
  padding: 20px 0;
  position: relative;
  width: 1160px; }
  @media screen and (max-width: 1200px) {
    .modal-content {
      margin: 100px auto 0;
      width: auto; } }

.modal-header {
  background: #fff;
  box-sizing: border-box;
  font-weight: 500;
  padding: 35px 0 0 50px;
  font-size: 22px;
  font-family: "Hind", sans-serif; }
  .modal-header h4 {
    font: inherit;
    margin: 0; }

.modal-body {
  background: #fff;
  box-sizing: border-box;
  padding: 20px 50px 50px; }

.modal-close {
  background-color: transparent;
  border: 0;
  color: #333;
  cursor: pointer;
  height: 21px;
  position: absolute;
  right: 40px;
  text-align: center;
  top: 60px;
  width: 21px;
  font-size: 0; }
  .modal-close:after {
    width: 22px;
    height: 22px;
    background-position: -32px -48px;
    content: ''; }
  .modal-close:hover {
    color: #000; }
  .modal-close:focus {
    outline: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  font-size: 14px;
  min-width: 900px; }
  body > .page-frame {
    margin-bottom: 60px; }

.page-frame {
  max-width: 980px;
  margin: 0 auto 60px auto;
  padding: 0 20px;
  position: relative; }

.notification-wrapper {
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  position: fixed;
  right: 0;
  top: 10px;
  width: 90%;
  z-index: 1051; }

.page-header {
  background-color: #000000;
  height: 60px;
  min-width: 1000px;
  text-align: center; }
  .page-header .logo {
    display: block;
    margin: 0 auto;
    padding-top: 7px;
    width: 185px; }
    .page-header .logo img {
      margin-left: -3px;
      margin-right: 2px;
      width: 185px; }
  .page-header .btn-secondary-small {
    border-color: #ffffff;
    color: #ffffff;
    float: right;
    font-size: 12px;
    font-weight: 400;
    font-family: "Hind", sans-serif;
    margin-top: -44px;
    padding: 5px 15px;
    text-transform: uppercase; }

.user-greeting {
  color: #ffffff;
  float: left;
  line-height: 20px;
  padding-top: 19px;
  margin: 0;
  font-size: 16px; }
  .user-greeting span {
    display: inline-block;
    overflow: hidden; }
  .user-greeting .user-name {
    max-width: 15ch;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .user-greeting a {
    text-decoration: none;
    color: #ed1e79; }

.page-sub-header {
  min-width: 1000px;
  height: 41px;
  border-bottom: 1px solid #B3B3B3; }

.site-navigation {
  float: left;
  font-size: 0;
  margin-top: 12px;
  position: relative; }
  .site-navigation .nav-item {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-left: 28px;
    padding-right: 24px;
    text-decoration: none;
    color: #29abe2; }
    .site-navigation .nav-item:before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      border-left: 1px solid #000000;
      border-right: 1px solid #000000;
      width: 2px;
      height: 8px;
      top: 50%;
      margin-top: -4px; }
    .site-navigation .nav-item:last-child {
      padding-right: 30px; }
      .site-navigation .nav-item:last-child:after {
        content: '';
        position: absolute;
        right: 0;
        top: 6px;
        display: block;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        width: 2px;
        height: 7px; }
    .site-navigation .nav-item:hover, .site-navigation .nav-item:active {
      color: #29abe2; }
    .site-navigation .nav-item.active {
      color: #000000; }
  .site-navigation .btn-small.dropdown:after, .site-navigation .dropdown.btn-primary-small:after, .site-navigation .dropdown.btn-secondary-small:after, .site-navigation .dropdown.btn-alternative-small:after {
    content: '';
    position: absolute;
    right: -22px;
    top: 6px;
    display: block;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 2px;
    height: 7px; }

.site-navigation.extended .nav-item {
  color: #29abe2; }

.site-navigation.extended .nav-item:hover, .site-navigation.extended .nav-item:active, .site-navigation.extended .nav-item.open {
  color: #000000; }

.site-navigation.extended .btn-small.dropdown, .site-navigation.extended .dropdown.btn-primary-small, .site-navigation.extended .dropdown.btn-secondary-small, .site-navigation.extended .dropdown.btn-alternative-small {
  margin-top: -4px; }

.time-and-date {
  float: right; }

.time-left, .selected-date, .current-date {
  color: #4D4D4D;
  display: inline-block;
  position: relative;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 15px;
  margin: 7px 0 0; }
  .time-left strong, .selected-date strong, .current-date strong {
    color: #000000; }

.time-left:before, .selected-date:before {
  content: '';
  position: absolute;
  left: -4px;
  top: 11px;
  display: block;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 2px;
  height: 7px; }

.time-left {
  margin-right: 5px; }
  .time-left:before {
    content: none; }

.selected-date, .current-date {
  font-size: 22px;
  margin-right: -2px; }
  .selected-date sup, .current-date sup {
    font-size: 13px; }

.btn-small.dropdown, .dropdown.btn-primary-small, .dropdown.btn-secondary-small, .dropdown.btn-alternative-small {
  width: 26px;
  height: 26px;
  float: right;
  margin-top: 8px;
  padding-left: 6px;
  border-color: #999999; }
  .btn-small.dropdown .icon-dropdown-dark:before, .dropdown.btn-primary-small .icon-dropdown-dark:before, .dropdown.btn-secondary-small .icon-dropdown-dark:before, .dropdown.btn-alternative-small .icon-dropdown-dark:before {
    display: block;
    margin: 1px 0 0; }
  .btn-small.dropdown:hover, .dropdown.btn-primary-small:hover, .dropdown.btn-secondary-small:hover, .dropdown.btn-alternative-small:hover {
    border-color: #000000;
    background: none; }

.upcoming-restaurants-wrapper {
  box-shadow: 2px 2px 0 0 rgba(179, 179, 179, 0.3);
  display: none;
  margin: 0 20px 0 0;
  padding: 0;
  position: absolute;
  right: -19px;
  top: 29px;
  z-index: 5; }
  .upcoming-restaurants-wrapper.open,
  .upcoming-restaurants-wrapper.is-open {
    display: block; }

.upcoming-restaurants {
  list-style-type: none;
  background: #ffffff;
  margin: 0;
  padding: 0; }

.upcoming-restaurant-info {
  font-size: 16px;
  border: 1px solid #B3B3B3;
  border-top: none;
  padding: 15px 20px 0 20px;
  min-height: 95px;
  vertical-align: middle;
  white-space: nowrap; }
  .upcoming-restaurant-info:first-child {
    border-top: 1px solid #cccccc; }
  .upcoming-restaurant-info p {
    padding-left: 5px;
    font-size: 18px;
    color: #000000;
    margin: 0 0 5px; }
  .upcoming-restaurant-info ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    display: inline-block; }
  .upcoming-restaurant-info a {
    clear: both;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    font-family: "Hind", sans-serif;
    color: #ed1e79;
    text-decoration: none;
    display: inline-block;
    line-height: 18px; }

.restaurant-info {
  float: left;
  font-size: 16px; }
  .restaurant-info h1 {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    letter-spacing: -0.5px; }
  .restaurant-info p {
    margin: 0; }
    .restaurant-info p:last-child {
      margin-top: 6px; }

.notification {
  border: 1px solid #ed1e79;
  position: relative; }
  .notification p {
    float: left; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.ie9 .loader:after {
  background: none;
  color: #29abe2;
  content: 'Loading';
  line-height: 1;
  opacity: 1;
  width: auto; }

.loader-background {
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.loader {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 1px 0 #ccc;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  position: fixed;
  top: 50%;
  width: 200px;
  z-index: 3; }
  .loader:before {
    border: 5px solid  #29abe2;
    border-bottom-color: transparent;
    box-sizing: border-box;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    transform-origin: 50% 50%;
    border-radius: 50%;
    content: '';
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 80px; }
  .ie9 .loader:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    margin-top: 50px;
    position: absolute;
    top: 50%; }

.upcoming-restaurants-wrapper.home {
  right: 0;
  top: 41px; }

.restaurant-and-payment-info {
  margin-top: 37px;
  font-size: 16px; }

.amount-due {
  float: right; }
  .amount-due .month-total {
    float: right;
    clear: both;
    margin: 0 0 5px;
    letter-spacing: 0.2px; }
    .amount-due .month-total strong {
      font-size: 30px; }
  .amount-due hr {
    clear: both;
    width: 90px;
    float: right;
    margin: 3px 0; }
  .amount-due .today-total {
    float: right;
    clear: both;
    margin: 11px 2px 0 0; }
    .amount-due .today-total span {
      font-size: 12px;
      letter-spacing: 0.7px;
      font-style: italic; }
    .amount-due .today-total strong {
      font-size: 18px;
      letter-spacing: -0.5; }

.notification.kitchen-closed {
  display: none;
  margin: 45px 0 -35px;
  height: 54px;
  width: 978px;
  float: none; }
  .notification.kitchen-closed.open {
    display: block; }
  .notification.kitchen-closed p {
    float: left;
    clear: left;
    padding: 0 0 0 15px;
    letter-spacing: -0.3px;
    color: #ed1e79;
    margin: 0;
    vertical-align: middle;
    font-family: "Hind", sans-serif;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .notification.kitchen-closed p:last-child {
      padding-top: 0;
      letter-spacing: -0.2; }
  .notification.kitchen-closed .btn-big, .notification.kitchen-closed .btn-primary, .notification.kitchen-closed .btn-primary-full, .notification.kitchen-closed .btn-secondary, .notification.kitchen-closed .btn-secondary-full, .notification.kitchen-closed .btn-alternative {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #ed1e79;
    padding: 0 13px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.menu-table {
  margin-top: 57px; }

.no-time .time-left, .no-time .time-left strong {
  color: #ed1e79; }

.login {
  background-color: #000000; }

.logo {
  display: inline-block; }
  .login-form .logo {
    margin-bottom: 25px;
    width: 240px; }
    .login-form .logo img {
      width: 100%; }

.login-form {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 270px; }
  .login-form .field-holder {
    margin: 0 0 20px;
    float: none; }
  .login-form .login-password,
  .login-form .login-username {
    background: none;
    border: 1px solid #666666;
    box-sizing: border-box;
    color: #f2f2f2;
    display: inline-block;
    font-family: "Lora", serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    padding: 0 30px 0 10px;
    width: 100%; }
    .login-form .login-password::-webkit-input-placeholder,
    .login-form .login-username::-webkit-input-placeholder {
      color: #666666; }
    .login-form .login-password::-moz-placeholder,
    .login-form .login-username::-moz-placeholder {
      color: #666666; }
    .login-form .login-password:-moz-placeholder,
    .login-form .login-username:-moz-placeholder {
      color: #666666; }
    .login-form .login-password:-ms-input-placeholder,
    .login-form .login-username:-ms-input-placeholder {
      color: #666666; }
    .login-form .login-password:focus,
    .login-form .login-username:focus {
      outline: 0; }
      .login-form .login-password:focus::-webkit-input-placeholder,
      .login-form .login-username:focus::-webkit-input-placeholder {
        color: transparent; }
      .login-form .login-password:focus::-moz-placeholder,
      .login-form .login-username:focus::-moz-placeholder {
        color: transparent; }
      .login-form .login-password:focus:-moz-placeholder,
      .login-form .login-username:focus:-moz-placeholder {
        color: transparent; }
      .login-form .login-password:focus:-ms-input-placeholder,
      .login-form .login-username:focus:-ms-input-placeholder {
        color: transparent; }
  .login-form .login-username {
    background: url("images/icon-login-user.svg") no-repeat center right;
    background-position: center right 10px;
    background-size: 16px 17px; }
    .validation-error .login-form .login-username {
      background-image: url("images/icon-login-user-red.svg"); }
  .login-form .login-password {
    background: url("images/icon-login-password.svg") no-repeat center right;
    background-position: center right 10px;
    background-size: 13px 16px; }
    .validation-error .login-form .login-password {
      background-image: url("images/icon-login-password-red.svg"); }
  .login-form .btn-big.btn-login, .login-form .btn-login.btn-primary, .login-form .btn-login.btn-primary-full, .login-form .btn-login.btn-secondary, .login-form .btn-login.btn-secondary-full, .login-form .btn-login.btn-alternative {
    background-color: #fff;
    font-family: "Lora", serif;
    margin-top: 35px;
    padding: 9px 48px; }

h1 {
  margin: 50px 0 0;
  font-size: 24px;
  font-family: "Hind", sans-serif; }

.late-requests-table {
  margin-top: 20px; }
  .late-requests-table .table-headings {
    text-align: left;
    text-transform: uppercase; }
    .late-requests-table .table-headings span {
      padding-left: 10px; }
  .late-requests-table .heading-align-center {
    text-align: center; }
    .late-requests-table .heading-align-center span {
      padding: 0; }
  .late-requests-table tbody td span {
    color: #5D5D5D; }
  .late-requests-table tbody td a {
    color: #29abe2;
    text-decoration: none;
    font-family: "Hind", sans-serif; }
  .late-requests-table tbody td .cell-align-left-padding {
    float: left;
    margin-left: 20px; }
  .late-requests-table tbody .data-price span {
    color: #000000; }
  .late-requests-table tbody .data-item {
    text-align: left; }
    .late-requests-table tbody .data-item .cell-align-left-padding {
      float: none; }
    .late-requests-table tbody .data-item a {
      font-size: 16px;
      clear: left;
      float: left;
      height: 22px; }
  .late-requests-table .btn-primary, .late-requests-table .btn-primary-full {
    font-size: 14px;
    min-width: 111px; }
    .late-requests-table .btn-primary .icon-white-tick, .late-requests-table .btn-primary-full .icon-white-tick {
      padding-right: 6px; }
  .late-requests-table .field-accept {
    min-width: 110px; }

.restaurant-info-editable {
  margin: 37px 0 15px;
  float: left; }
  .restaurant-info-editable h1 {
    margin: 0; }
  .restaurant-info-editable p {
    font-size: 16px;
    margin: 5px 0 7px; }
    .restaurant-info-editable p:last-child {
      margin-top: 0; }

.edit-restaurant-info {
  float: left;
  padding: 4px 13px;
  margin: 44px 0 0 17px;
  text-transform: uppercase;
  font-size: 12px; }

.restaurant-info-editable.hidden {
  display: none; }

.restaurant-info-presentation {
  display: none; }

.restaurants-info-edit-fields {
  display: none;
  margin: 55px 0 35px;
  float: left;
  font-size: 14px; }
  .restaurants-info-edit-fields.open {
    display: block; }
  .restaurants-info-edit-fields .field-holder {
    margin: 0 0 20px; }
    .restaurants-info-edit-fields .field-holder input, .restaurants-info-edit-fields .field-holder textarea {
      background-color: #f2f2f2;
      border: 1px solid #acacac;
      width: 420px;
      height: 36px;
      text-indent: 15px;
      font-family: "Lora", serif; }
    .restaurants-info-edit-fields .field-holder textarea {
      height: 80px;
      resize: none;
      padding: 18px 15px 12px;
      width: 390px;
      text-indent: 0; }
  .restaurants-info-edit-fields .btn-primary-full {
    float: left;
    clear: left;
    margin-right: 26px; }
  .restaurants-info-edit-fields .btn-primary-full, .restaurants-info-edit-fields a {
    font-family: "Hind", sans-serif;
    min-width: 90px; }
  .restaurants-info-edit-fields a {
    float: left;
    text-decoration: none;
    color: #29abe2;
    margin-top: 9px; }

.menu-items-table tbody tr td:last-child {
  text-align: right;
  padding-right: 5px; }
  .menu-items-table tbody tr td:last-child .btn-secondary, .menu-items-table tbody tr td:last-child .btn-secondary-full {
    margin-left: 5px; }

.menu-items-table .option.one, .menu-items-table .option.two {
  text-align: left;
  margin: 0;
  text-indent: 15px; }

.menu-items-table .btn-primary, .menu-items-table .btn-primary-full {
  float: left;
  margin-left: 28px; }

.menu-items-table .btn-secondary, .menu-items-table .btn-secondary-full {
  float: right;
  font-size: 1px;
  margin-right: -5px; }

.menu-items-table .input.item-name {
  width: 815px;
  float: left; }

.menu-items-table .input.item-price {
  width: 75px; }

.btn-primary.add-course, .add-course.btn-primary-full {
  float: left;
  clear: both;
  margin-top: 25px;
  min-width: 140px; }

.popup-wrapper {
  width: 600px;
  position: relative;
  padding-left: 30px; }

.course-form {
  width: 499px;
  font-size: 16px;
  font-weight: 500; }
  .course-form input, .course-form select {
    text-indent: 15px; }
  .course-form #course-name {
    width: 395px; }
  .course-form #course-price, .course-form #course-option-price {
    width: 98px; }
  .course-form #course-option-name {
    width: 283px; }
  .course-form .course-option-name-wrapper, .course-form .course-option-price-wrapper {
    float: left; }
  .course-form .course-option-price-wrapper {
    margin-left: 12px; }
  .course-form .course-option-wrapper:last-child {
    margin-bottom: 40px; }
  .course-form .course-option-wrapper button {
    margin-left: 13px;
    margin-top: 44px; }
    .course-form .course-option-wrapper button.btn-primary, .course-form .course-option-wrapper button.btn-primary-full {
      margin-left: 7px; }
  .course-form .course-option-wrapper i {
    vertical-align: middle; }
  .course-form .course-option-wrapper .icon-dash-red {
    font-size: 1px; }
  .course-form .course-option-wrapper .icon-green-plus {
    font-size: 17px; }
  .course-form .btn-primary.submit, .course-form .submit.btn-primary-full, .course-form a {
    font-size: 14px;
    float: left; }
  .course-form a {
    text-decoration: none;
    color: #29abe2;
    margin-top: 50px; }
  .course-form .btn-primary.submit, .course-form .submit.btn-primary-full, .course-form a {
    font-size: 14px;
    float: left; }
  .course-form > .btn-primary, .course-form > .btn-primary-full {
    background-color: #39B54A;
    color: #ffffff;
    padding: 3px 25px;
    font-family: "Hind thin", sans-serif;
    display: inline-block;
    line-height: 36px;
    margin: 20px 25px 30px 0;
    text-indent: 0; }
    .course-form > .btn-primary:hover, .course-form > .btn-primary-full:hover {
      background-color: #3BCF4C; }
  .course-form a {
    text-decoration: none;
    color: #29abe2;
    margin-top: 50px; }
  .course-form .left-align {
    left: 0; }

.deletion-confirmation {
  font-family: "Hind", sans-serif; }
  .deletion-confirmation input {
    color: #ffffff;
    background-color: #ed1e79;
    padding: 0 23px;
    margin-right: 30px; }
  .deletion-confirmation a {
    color: #29abe2;
    text-decoration: none; }

.table-information {
  margin-top: 50px;
  position: relative; }
  .table-information h1 {
    float: left;
    margin: 0 15px 0 0;
    font-size: 22px;
    font-weight: 500; }
  .table-information .current-date {
    float: right;
    font-family: "Lora", serif;
    color: #000000; }

.orders-table th {
  text-align: left;
  text-indent: 25px; }
  .orders-table th:first-child {
    text-indent: 0; }

.orders-table .btn-secondary, .orders-table .btn-secondary-full, .orders-table .btn-primary, .orders-table .btn-primary-full {
  font-size: 1px;
  float: left; }

.orders-table .guest-name {
  position: absolute;
  text-align: left;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.orders-table .select.restaurant, .orders-table .select.item {
  background-color: #f5f5f5;
  border: 1px solid #B3B3B3; }

.data-item {
  text-align: left; }

.first-item, .second-item {
  float: left;
  clear: left;
  padding: 0 25px; }

.add-order {
  float: left;
  margin-top: 30px;
  padding: 0 15px; }
  .add-order i {
    margin-right: 5px; }

hr {
  width: 90px;
  float: right;
  margin: 30px 0 10px; }

.total-price {
  clear: right;
  float: right;
  font-size: 18px;
  margin: 0;
  font-family: "Hind", sans-serif; }
  .total-price strong {
    font-size: 20px;
    font-weight: 600; }

.additional-order-form label {
  font-family: "Hind thin", sans-serif; }

.additional-order-form input {
  width: 393px; }

.additional-order-form select {
  width: 395px; }

.additional-order-form input {
  text-indent: 15px; }

.additional-order-form .add-additional-course {
  margin: 30px 0;
  float: left;
  font-size: 14px;
  padding: 0 19px;
  line-height: 32px; }
  .additional-order-form .add-additional-course i {
    margin: 0 10px 0 0; }

.additional-order-form submit, .additional-order-form a {
  float: left;
  font-family: "Hind", sans-serif;
  line-height: 36px;
  margin-top: 30px;
  font-size: 14px; }

.additional-order-form submit {
  background-color: #39B54A;
  color: #ffffff;
  padding: 0 25px;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 30px;
  clear: left; }

.additional-order-form a {
  text-decoration: none;
  color: #29abe2; }

.course-wrapper {
  width: 500px; }
  .course-wrapper button {
    margin-left: 13px; }
    .course-wrapper button.btn-primary, .course-wrapper button.btn-primary-full {
      margin-left: 7px; }

.guest-option-wrapper .guest-option-name-wrapper {
  float: left; }

.guest-option-wrapper .btn-primary, .guest-option-wrapper .btn-primary-full, .guest-option-wrapper .btn-secondary, .guest-option-wrapper .btn-secondary-full {
  font-size: 1px;
  margin-top: 43px;
  display: block;
  float: left; }

.guest-option-wrapper .btn-primary, .guest-option-wrapper .btn-primary-full {
  margin-left: 13px; }

.additional-order-form .btn-primary-full {
  min-width: 110px;
  margin-right: 10px; }
  .additional-order-form .btn-primary-full:hover {
    background-color: #3BCF4C; }

.table-information.print-for-users {
  margin: 50px 0 30px; }

.table-information.totals-print {
  margin: 30px 0 80px; }

.table-information .logo {
  width: 187px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 30px; }

.table-information .current-date {
  font-family: "Hind", sans-serif; }

.orders-table.print-for-users .guest-name {
  left: 0; }

.orders-table.print-for-users th {
  text-align: left; }

.orders-table.print-for-users .heading-align-center {
  text-align: center; }

.orders-table.print-for-users tr td:before {
  content: none; }

.orders-table.print-for-users .first-item, .orders-table.print-for-users .second-item {
  padding: 0; }

h1.print-for-restaurant {
  float: left;
  font-family: "Hind thin", sans-serif;
  margin-bottom: 10px; }

.orders-table.print-for-restaurant {
  font-family: "Hind", sans-serif;
  font-weight: 500; }
  .orders-table.print-for-restaurant tr {
    min-height: 38px; }
    .orders-table.print-for-restaurant tr td {
      padding: 7px 0; }
    .orders-table.print-for-restaurant tr td:before {
      content: none; }
  .orders-table.print-for-restaurant .course-extra {
    border-top: none;
    border-bottom: none; }
    .orders-table.print-for-restaurant .course-extra td:first-child {
      text-indent: 30px; }

.small-square-box {
  width: 12px;
  height: 12px;
  border-radius: 0;
  margin: 0 auto;
  border: 1px solid black; }

.totals-table.totals-print {
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-size: 16px; }
  .totals-table.totals-print tr {
    min-height: 38px; }
    .totals-table.totals-print tr td {
      padding: 7px 0; }
    .totals-table.totals-print tr td:before {
      content: none; }
    .totals-table.totals-print tr .data-price span {
      font-weight: 500; }

.total-price.totals-print {
  font-family: "Hind", sans-serif; }
  .total-price.totals-print strong {
    font-weight: 500; }

.totals-table .field-accept {
  min-width: 80px; }

.restaurant-selection-wrapper {
  font-size: 0; }
  .restaurant-selection-wrapper tr {
    display: inline-block;
    border: 1px solid #B3B3B3;
    position: relative; }
    .restaurant-selection-wrapper tr td {
      position: relative;
      text-align: left;
      width: 198px;
      min-height: 153px;
      border-left: 1px solid #999999;
      padding-bottom: 48px; }
      .restaurant-selection-wrapper tr td:first-child {
        border-left: none; }
      .restaurant-selection-wrapper tr td:before {
        content: none; }
      .restaurant-selection-wrapper tr td:last-child {
        text-align: left; }
      .restaurant-selection-wrapper tr td .restaurant-add {
        bottom: 12px;
        left: 20px;
        position: absolute;
        right: 10px; }
    .restaurant-selection-wrapper tr p {
      padding-left: 20px;
      font-size: 16px;
      margin: 8px 0; }
    .restaurant-selection-wrapper tr .restaurant-link {
      color: #ed1e79;
      text-decoration: none; }
    .restaurant-selection-wrapper tr ul {
      list-style-type: none;
      padding-left: 20px;
      color: #ed1e79;
      font-family: "Hind", sans-serif;
      font-size: 16px;
      margin: 0 0 20px 0;
      line-height: 22px; }
      .restaurant-selection-wrapper tr ul .btn-secondary-small {
        width: 14px;
        height: 14px;
        font-size: 0;
        min-width: 0;
        min-height: 0;
        border-radius: 0;
        position: relative;
        float: right;
        margin-right: 10px;
        display: inline-block; }
        .restaurant-selection-wrapper tr ul .btn-secondary-small i {
          line-height: 0;
          position: absolute;
          right: 50%;
          -webkit-transform: translateX(50%);
          -moz-transform: translateX(50%);
          -ms-transform: translateX(50%);
          -o-transform: translateX(50%);
          transform: translateX(50%); }
        .restaurant-selection-wrapper tr ul .btn-secondary-small i:before {
          width: 6px; }

.add-restaurant {
  margin-top: 30px;
  padding: 0 10px; }
  .add-restaurant i {
    padding: 0 5px; }

.notifications {
  float: left;
  clear: left; }
  .notifications h1 {
    margin-top: 25px; }

.notification {
  border: none;
  min-height: 72px;
  width: 100%;
  color: #ffffff;
  margin-top: 25px; }
  .notification p {
    padding-left: 64px;
    line-height: 22px; }
  .notification i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 18px; }
  .notification.error {
    background-color: #ed1e79; }
  .notification.warning {
    background-color: #FBB03B; }
  .notification.success {
    background-color: #39B54A; }

.dark-background-wrapper {
  background-color: #4D4D4D;
  width: 685px;
  height: 281px;
  float: left;
  margin-top: 25px;
  position: relative; }
  .dark-background-wrapper .deletion-confirmation {
    width: 600px;
    min-height: 188px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -300px; }
    .dark-background-wrapper .deletion-confirmation p {
      color: #000000;
      font-size: 18px;
      font-family: "Hind", sans-serif;
      font-weight: 500;
      padding: 0 280px 0 50px; }
    .dark-background-wrapper .deletion-confirmation a {
      text-decoration: none;
      color: #29abe2;
      font-family: "Hind", sans-serif; }
    .dark-background-wrapper .deletion-confirmation .btn-secondary, .dark-background-wrapper .deletion-confirmation .btn-secondary-full {
      margin: 0 30px 0 50px;
      color: #ffffff;
      background-color: #ed1e79;
      padding: 4px 19px; }

.input-notification-wrapper label {
  display: block;
  font-weight: 500; }

.input-notification-wrapper input {
  background-color: #f2f2f2;
  width: 397px;
  height: 36px;
  float: left; }

.list-of-pages {
  font-family: "Hind", sans-serif; }
  .list-of-pages h1 {
    padding-left: 20px; }
  .list-of-pages ul {
    font-size: 20px;
    list-style-type: none;
    padding-left: 20px; }
    .list-of-pages ul li {
      line-height: 30px;
      border-bottom: 1px solid #acacac;
      margin-bottom: 5px;
      margin-right: 20px; }
      .list-of-pages ul li:last-child {
        border-bottom: none; }
    .list-of-pages ul ul {
      margin-left: 30px;
      padding: 0;
      list-style-type: square; }
      .list-of-pages ul ul li {
        border-bottom: none; }
  .list-of-pages a {
    text-decoration: none; }

.sitemap-legend {
  font-size: 15px; }
  .sitemap-legend div {
    float: left;
    margin: 10px 15px 0; }
  .sitemap-legend .square-legend {
    margin: 5px; }

a.general {
  color: #ed1e79; }

a.user {
  color: #3BCF4C; }

a.admin {
  color: #29abe2; }

.square-legend {
  width: 12px;
  height: 12px; }
  .square-legend.general {
    background-color: #ed1e79; }
  .square-legend.user {
    background-color: #3BCF4C; }
  .square-legend.admin {
    background-color: #29abe2; }

  .restaurant-input {
    width: 100%;
  }

  .restaurant_details_name {
    margin: 20px 0;
  }

  .restaurant_visible_label {
    display: inline-block;
    margin:0;
  }


/*# sourceMappingURL=site-styles.css.map */
